*:not(.courseicon, .activityicon, .search-icon, .fa-search, .userinitials, td.today *, .icon) {
    background-color: #121111 !important
}

body {
    color: #fff !important;
    background-color: #121111 !important
}

.dropdown-item {
    color: white !important;
}

.navbar-brand,
.nav-link,
.btn,
.generaltable,
input,
select {
    color: #fff !important;
    background-color: #121111 !important
}

.card,
#region-main.region-main-content,
.btn:not(#message-user-button, .icons-collapse-expand, .btn-link) {
    border: 1px solid rgb(100, 100, 100) !important;
}

.icon.navicon:not(.fa) {
    background-color: #edeeee !important;
    filter: invert(100%);
}

.text-truncate,
.progress-text {
    color: #eee !important;
}

#page {
    padding-top: 0 !important
}

#logoimage {
    border-radius: 1rem !important;
    filter: invert(92.5%) !important;
    border: 2rem solid rgb(255, 255, 255) !important;
}

a:not([class]):focus {
    outline: none;
    color: #750625;
    box-shadow: none;
}